// colors
$white: #fff;
$black: #000;
$blue-dark: #19242e;
$blue: #1c2d3a;
$blue-light: #008aee;
$green: #33bb5a;
$teal: #63c7c9;
$orange-dark: #dc5426;
$orange-light: #e59d48;
$purple: #bd5fe9;
$light-text: #231f20;
$gray: #777777;

// breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

.container-fluid {
  --bs-gutter-x: unset;
}

// HEADER

header {
  background-color: $blue-dark;
  .sec-header {
    background-color: $blue;
    .nav-link {
      font-weight: 300;
    }
  }

  .navbar-nav {
    border-left: 2px solid $blue;
  }

  .d-flex .navbar-nav:first-child {
    border-left: none;
  }

  // links

  .nav-link {
    display: flex;
    align-content: center;
    color: $white;
    font-weight: 700;
  }

  .nav-link:focus,
  .nav-link:hover {
    color: $white;
    filter: brightness(0.6);
  }

  // external links

  .external-links {
    font-style: italic;
    font-size: 20px;
  }
  .nav-link:first-child {
    strong {
      color: $orange-dark;
    }
  }
  .nav-link:nth-child(2) {
    strong {
      color: $orange-light;
    }
  }

  .navbar-toggler {
    border: none;
    &:focus {
      box-shadow: none;
      outline: none;
    }

    .hamburger {
      color: $white;
      background: url("../img/hamburger.svg");
    }
  }

  // icons
  .icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
  .icon.msg {
    background: url("../img/msg.svg");
  }
  .icon.basket {
    position: relative;
    background: url("../img/basket.svg");
    .in-cart {
      position: absolute;
      right: -10px;
      bottom:-10px;
      background-color: $orange-dark;
      color: $white;
      padding: 1px 5px;
      border-radius: 10px;
    }
  }
  .icon.favorites {
    background: url("../img/heart.svg");
  }
  .icon.profile {
    background: url("../img/profile.svg");
  }
  .icon.yt {
    background: url("../img/yt.svg");
  }
  .icon.fb {
    background: url("../img/fb.svg");
  }
  .icon.phone {
    background: url("../img/phone.svg");
  }
}

.scrollable-container {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  display: flex;
  gap: 5px;

  .rounded-pill {
    display: flex;
    align-items: center;
    padding: 0 10px;
  }

  //  nav-links

  .home {
    position: relative;
    background-color: $blue-light;
    .icon {
      background: url("../img/sec\ header/home.svg");
    }
  }

  .gear-sm {
    background-color: $blue-light;
    .icon {
      background: url("../img/sec\ header/gear-sm.svg");
    }
  }
  .borsachasti {
    background-color: $green;
    .icon {
      background: url("../img/sec\ header/borsachasti.svg");
    }
  }
  .avtoborsa {
    background-color: $teal;
    .icon {
      background: url("../img/sec\ header/avtoborsa.svg");
    }
  }
  .prodavakoli {
    background-color: $orange-dark;
    .icon {
      background: url("../img/sec\ header/prodavakoli.svg");
    }
  }
  .prodavachasti {
    background-color: $orange-light;
    .icon {
      background: url("../img/sec\ header/prodavachasti.svg");
    }
  }
  .igri {
    background-color: $purple;
    .icon {
      background: url("../img/sec\ header/igri.svg");
    }
  }
  .zastrahovki {
    background-color: unset;
    border: 1px solid $orange-dark;
    .icon {
      background: url("../img/sec\ header/zastrahovki.svg");
    }
  }
}

// SEARCH BAR

.search {
  background-color: $blue-light;
  padding: 20px 10%;
  form {
    max-width: 1440px;
    padding: 30px;
    margin: auto;
    background-color: $white;
    .search-header {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;
    }
    .filter {
      display: none; //changes to flex in xl
      align-items: center;
      max-width: 40px;
      .icon {
        height: 25px;
        width: 25px;
        display: inline-block;
        background: url("../img/filter.svg") no-repeat right;
      }
    }

    input,
    .btn {
      border-radius: 20px;
      border: 1px solid $blue-light;
    }

    input.col {
      margin-right: 10px;
    }

    .btn.col-3 {
      color: $white;
      background-color: $blue-light;
      font-weight: 600;
      font-size: 26px;
      width: 165px;
    }
  }

  .search-checkboxes {
    label {
      font-size: 18px;
      padding: 6px 22px;
      color: $black;
      background-color: unset;
      border: 1px solid;
      &:nth-of-type(1),
      &:nth-of-type(2) {
        border-color: $blue-light;
      }
      &:nth-of-type(3) {
        border-color: $green;
      }
      &:nth-of-type(4) {
        border-color: $teal;
      }
      &:nth-of-type(5) {
        border-color: $orange-dark;
      }
      &:nth-of-type(6) {
        border-color: $orange-light;
      }
    }
    .btn-check:checked + .btn {
      background-color: $blue-light;
      border-color: $blue-light;
      color: $white;
    }
  }
}

// banners slider

.banners {
  margin-bottom: 25px;
  .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
  img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
}

// Highlights

.highlights {
  margin-bottom: 42px;
  .container {
    display: flex;
    justify-content: space-between;
  }
  .highlight {
    display: flex;
    gap: 10px;
    .body {
      h4 {
        font-size: 13px;
        color: $blue-dark;
        font-weight: 700;
      }
      p {
        font-size: 13px;
        color: $gray;
      }
    }
  }
}

// Product Sliders

.sliders {
  overflow: hidden;

  .slider:nth-of-type(2) {
    flex-direction: row-reverse;
    .slider-header {
      background-color: $green;
      button {
        color: $green;
      }
    }
  }
}

.slider {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 80px;
  .slider-header {
    background-color: $blue-light;
    min-width: 267px;
    button {
      color: $blue-light;
    }
  }

  .slider-body {
    width: 100%;

    .flickity-enabled {
      height: 267px;
    }

    .carousel-cell {
      width: 267px;
      margin-right: 40px;
    }

    .card {
      text-decoration: none;

      .price {
        color: $green;
        font-weight: 700;
      }
      .number {
        font-size: 14px;
      }
    }

    .flickity-button {
      height: 100%;
      width: 20%;
      border-radius: unset;
      box-shadow: none;

      .flickity-button-icon {
        width: 30px;
        height: 30px;
        color: $blue-light;
      }
    }
    .flickity-button:nth-last-of-type(1) {
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.8) 50%,
        rgb(255, 255, 255, 1) 100%
      );
    }
    .flickity-prev-next-button.previous {
      left: 0;
    }
    .flickity-button:nth-last-of-type(2) {
      background: linear-gradient(
        270deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.8) 50%,
        rgb(255, 255, 255, 1) 100%
      );
    }
    .flickity-prev-next-button.next {
      right: 0;
    }
  }
}

// SERVICES

.services {
  margin-bottom: 87px;
}

.service-group {
  justify-content: center;
  margin-bottom: 32px;
}

.service-big {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 36px;
  padding: 25px;
  text-align: center;

  max-width: 80%;

  h3 {
    font-size: 26px;
    font-weight: 700;
  }
  img {
    width: 40px;
  }
  button {
    font-size: 18px;
    font-weight: 700;
  }

  &:nth-of-type(1) {
    background-color: $teal;
    button {
      color: $teal;
    }
  }
  &:nth-of-type(2) {
    background-color: $orange-dark;
    button {
      color: $orange-dark;
    }
  }
  &:nth-of-type(3) {
    background-color: $orange-light;
    button {
      color: $orange-light;
    }
  }
  &:nth-of-type(4) {
    background-color: $purple;
    button {
      color: $purple;
    }
  }
}

.service-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  gap: 10px;
  max-width: 80%;
  border: 3px solid;
  div {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;

    h5 {
      font-size: 20px;
      margin-bottom: 0;
    }
  }

  p {
    margin-bottom: 0;
  }

  &:nth-of-type(1) {
    border-color: $orange-dark;
    h5 {
      color: $orange-dark;
      font-weight: 700;
    }
  }
  &:nth-of-type(2) {
    border-color: $green;
    h5 {
      color: $green;
      font-weight: 700;
    }
  }
  &:nth-of-type(3) {
    border-color: $teal;
    h5 {
      color: $teal;
      font-weight: 700;
    }
  }
  &:nth-of-type(4) {
    border-color: $blue-light;
    h5 {
      color: $blue-light;
      font-weight: 700;
    }
  }
}

// REVIEWS

.reviews {
  margin-bottom: 100px;

  .reviews-carousel {
    height: 260px;
    .flickity-slider {
      display: flex;
      align-items: center;
    }
  }
  .carousel-cell {
    max-width: 90%;
    width: 600px;
    margin: 0 -20px;
  }
  .is-selected {
    background-color: $white;
    z-index: 10;
    height: 260px;
  }

  .flickity-button {
    width: 30px;
    height: 30px;
    color: $blue-light;
    &:hover,
    &:focus {
      background-color: unset;
      box-shadow: none;
    }
  }
}
.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
  height: 100%;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .user {
    display: flex;
    align-items: center;
    gap: 5px;
    img {
      border-radius: 50%;
      width: 38px;
      height: 38px;
      background-color: $blue-light; //TODO:  remove
    }

    h6 {
      color: $blue-light;
      font-weight: 700;
    }

    .stars {
      span {
        display: inline-block;
        width: 15px;
        height: 15px;
        background: url("../img/star.svg");
      }
    }
  }
}

// MAP

.map {
  position: relative;
  img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -2;
  }

  .pin {
    position: absolute;
    background: url("../img/pin.svg");
    width: 100px;
    height: 100px;

    &::after {
      position: absolute;
      display: inline-block;
      content: "";
      width: 40px;
      height: 40px;
      background: url("../img/pin-icon.svg") no-repeat;
      left: 50%;
      top: 50%;
      transform: translate(-45%, -45%);
    }
    &::before {
      position: absolute;
      display: inline-block;
      content: "";
      width: 40px;
      height: 40px;
      background: url("../img/wrench.svg") no-repeat;
      left: 50%;
      top: 50%;
      transform: translate(-40%, -20%);
    }

    &:nth-of-type(1) {
      left: 13%;
      top: 28%;

      .info {
        transform: translate(-5%, -50%);
      }
    }

    &:nth-of-type(2) {
      right: 8%;
      top: 13%;

      .info {
        transform: translate(-95%, -50%);
      }
    }

    .info {
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      width: 250px;
      height: 50px;
      border-radius: 50px;
      background: linear-gradient(270deg, #008aee 0%, #006dbb 100%);
      z-index: -1;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      color: $white;

      transition: opacity 0.3s;

      p {
        margin-bottom: 0;
        &:last-of-type {
          font-weight: 400;
        }
      }
    }
    &:hover .info {
      opacity: 1;
    }
  }
}

// LOGIN

.form.container {
  margin: 50px auto;
  max-width: 600px;
  font-size: 18px;
  h2 {
    font-size: 25px;
    font-weight: 700;
  }

  .loginBtn {
    background-color: $green;

  }

  .registerBtn {
    background-color: $blue-light;
  }
}

// DETAILS

.details {
  margin: 50px auto;

  .details-title {
    font-weight: 700;
  }

  .additional-info {
    font-style: italic;
  }

  .price {
    font-size: 20px;
    color: $green;
    font-weight: 700;
  }
}

.backBtn {
  background-color: $blue-light;
  &:hover {
    background-color: $blue-light;
  }
}

// RESULTS/CART

.results {
  margin: 50px auto;

strong {
  color: $green;
}
  .total-price {
    font-size: 20px;
  }
}
.agreeBtn {
  background-color: $green;
  &:hover {
    background-color: $green;
  }
}

.cta {
  padding: 10px 40px;
    font-weight: 700;
    font-size: 20px;
    color: $white;
  &:hover {
    color: $white;
    opacity: 0.8;
  }
}

// admin Panel




// FOOTER

footer {
  background: #202d39;
  padding: 35px;
  .col-md {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: $white;
    padding: 15px;
    border-radius: 10px;
    background-color: #19242d;

    h6 {
      font-weight: 700;
    }
    a {
      display: block;
      color: $white;
      text-decoration: none;
      font-size: 14px;

      &:hover {
        opacity: 0.8;
      }
    }

    &:first-of-type {
      gap: 16px;
      padding: 0;
      background: #202d39;
      div {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 15px;
        border-radius: 10px;
        background-color: #19242d;

        &:first-of-type {
          height: 100%;
        }
      }
      .green-link {
        color: $green;
        font-weight: 700;
      }
    }

    &:last-of-type {
      padding: 25px;
      text-align: center;
      .logo {
        margin-bottom: 50px;
        p {
          font-size: 14px;
        }
      }
      a {
        font-style: italic;
        font-size: 25px;
        strong {
          color: $orange-dark;
        }
        &:last-of-type {
          strong {
            color: $orange-light;
          }
        }
      }
    }
  }
}

// Media queries

@media (max-width: $xl) {
  .nav-cta {
    .navbar-nav {
      display: none;
    }
    .navbar-nav:first-child,
    .navbar-nav:nth-child(2) {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }
}

@media (max-width: $lg) {
  .search {
    .filter {
      display: flex !important ;
    }
  }
  .search-checkboxes {
    display: none;
  }
}
@media (max-width: $md) {
  .highlights {
    .container {
      flex-direction: column;
    }
    .highlight {
      &:nth-of-type(2),
      &:nth-of-type(4) {
        flex-direction: row-reverse;
        h4 {
          text-align: end;
        }
      }
    }
  }

  .slider {
    flex-direction: column !important;
  }
}

@media (max-width: $sm) {
  footer {
    .col-md {
      max-width: 90%;
      margin: auto;
    }
  }
}
