.container-fluid {
  --bs-gutter-x: unset;
}

header {
  background-color: #19242e;
}
header .sticky-top {
  background-color: #1c2d3a;
}
header .sticky-top .nav-link {
  font-weight: 300;
}
header .navbar-nav {
  border-left: 2px solid #1c2d3a;
}
header .d-flex .navbar-nav:first-child {
  border-left: none;
}
header .nav-link {
  display: flex;
  align-content: center;
  color: #fff;
  font-weight: 700;
}
header .nav-link:focus,
header .nav-link:hover {
  color: #fff;
  filter: brightness(0.6);
}
header .external-links {
  font-style: italic;
  font-size: 20px;
}
header .nav-link:first-child strong {
  color: #dc5426;
}
header .nav-link:nth-child(2) strong {
  color: #e59d48;
}
header .navbar-toggler {
  border: none;
}
header .navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}
header .navbar-toggler .hamburger {
  color: #fff;
  background: url("../img/hamburger.svg");
}
header .icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
header .icon.msg {
  background: url("../img/msg.svg");
}
header .icon.basket {
  background: url("../img/basket.svg");
}
header .icon.favorites {
  background: url("../img/heart.svg");
}
header .icon.profile {
  background: url("../img/profile.svg");
}
header .icon.yt {
  background: url("../img/yt.svg");
}
header .icon.fb {
  background: url("../img/fb.svg");
}
header .icon.phone {
  background: url("../img/phone.svg");
}

.scrollable-container {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  display: flex;
  gap: 5px;
}
.scrollable-container .rounded-pill {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.scrollable-container .home {
  position: relative;
  background-color: #008aee;
}
.scrollable-container .home .icon {
  background: url("../img/sec header/home.svg");
}
.scrollable-container .gear-sm {
  background-color: #008aee;
}
.scrollable-container .gear-sm .icon {
  background: url("../img/sec header/gear-sm.svg");
}
.scrollable-container .borsachasti {
  background-color: #33bb5a;
}
.scrollable-container .borsachasti .icon {
  background: url("../img/sec header/borsachasti.svg");
}
.scrollable-container .avtoborsa {
  background-color: #63c7c9;
}
.scrollable-container .avtoborsa .icon {
  background: url("../img/sec header/avtoborsa.svg");
}
.scrollable-container .prodavakoli {
  background-color: #dc5426;
}
.scrollable-container .prodavakoli .icon {
  background: url("../img/sec header/prodavakoli.svg");
}
.scrollable-container .prodavachasti {
  background-color: #e59d48;
}
.scrollable-container .prodavachasti .icon {
  background: url("../img/sec header/prodavachasti.svg");
}
.scrollable-container .igri {
  background-color: #bd5fe9;
}
.scrollable-container .igri .icon {
  background: url("../img/sec header/igri.svg");
}
.scrollable-container .zastrahovki {
  background-color: unset;
  border: 1px solid #dc5426;
}
.scrollable-container .zastrahovki .icon {
  background: url("../img/sec header/zastrahovki.svg");
}

.search {
  background-color: #008aee;
  padding: 20px 10%;
}
.search form {
  max-width: 1440px;
  padding: 30px;
  margin: auto;
  background-color: #fff;
}
.search form .search-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.search form .filter {
  display: none;
  align-items: center;
  max-width: 40px;
}
.search form .filter .icon {
  height: 25px;
  width: 25px;
  display: inline-block;
  background: url("../img/filter.svg") no-repeat right;
}
.search form input,
.search form .btn {
  border-radius: 20px;
  border: 1px solid #008aee;
}
.search form input.col {
  margin-right: 10px;
}
.search form .btn.col-3 {
  color: #fff;
  background-color: #008aee;
  font-weight: 600;
  font-size: 26px;
  width: 165px;
}
.search .search-checkboxes label {
  font-size: 18px;
  padding: 6px 22px;
  color: #000;
  background-color: unset;
  border: 1px solid;
}
.search .search-checkboxes label:nth-of-type(1), .search .search-checkboxes label:nth-of-type(2) {
  border-color: #008aee;
}
.search .search-checkboxes label:nth-of-type(3) {
  border-color: #33bb5a;
}
.search .search-checkboxes label:nth-of-type(4) {
  border-color: #63c7c9;
}
.search .search-checkboxes label:nth-of-type(5) {
  border-color: #dc5426;
}
.search .search-checkboxes label:nth-of-type(6) {
  border-color: #e59d48;
}
.search .search-checkboxes .btn-check:checked + .btn {
  background-color: #008aee;
  border-color: #008aee;
  color: #fff;
}

.banners {
  margin-bottom: 25px;
}
.banners .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.banners img {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.highlights {
  margin-bottom: 42px;
}
.highlights .container {
  display: flex;
  justify-content: space-between;
}
.highlights .highlight {
  display: flex;
  gap: 10px;
}
.highlights .highlight .body h4 {
  font-size: 13px;
  color: #19242e;
  font-weight: 700;
}
.highlights .highlight .body p {
  font-size: 13px;
  color: #777777;
}

.sliders {
  overflow: hidden;
}
.sliders .slider:nth-of-type(2) {
  flex-direction: row-reverse;
}
.sliders .slider:nth-of-type(2) .slider-header {
  background-color: #33bb5a;
}

.slider {
  display: flex;
  gap: 40px;
  margin-bottom: 80px;
}
.slider .slider-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 25px;
  text-align: center;
  background-color: #008aee;
  min-width: 267px;
}
.slider .slider-header img {
  width: 40px;
}
.slider .slider-body {
  width: 100%;
}
.slider .slider-body .flickity-enabled {
  height: 250px;
}
.slider .slider-body .carousel-cell {
  width: 267px;
  margin-right: 40px;
}
.slider .slider-body .card {
  text-decoration: none;
}
.slider .slider-body .card .price {
  color: #33bb5a;
  font-weight: 700;
}
.slider .slider-body .card .number {
  font-size: 14px;
}
.slider .slider-body .flickity-button {
  height: 100%;
  width: 30%;
  border-radius: unset;
}
.slider .slider-body .flickity-button .flickity-button-icon {
  width: 30px;
  height: 30px;
  color: #008aee;
}
.slider .slider-body .flickity-button:nth-last-of-type(1) {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgb(255, 255, 255) 100%);
}
.slider .slider-body .flickity-prev-next-button.previous {
  left: 0;
}
.slider .slider-body .flickity-button:nth-last-of-type(2) {
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgb(255, 255, 255) 100%);
}
.slider .slider-body .flickity-prev-next-button.next {
  right: 0;
}

@media (max-width: 1200px) {
  .nav-cta .navbar-nav {
    display: none;
  }
  .nav-cta .navbar-nav:first-child,
  .nav-cta .navbar-nav:nth-child(2) {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
@media (max-width: 992px) {
  .search .filter {
    display: flex !important;
  }
  .search-checkboxes {
    display: none;
  }
}
@media (max-width: 768px) {
  .highlights .container {
    flex-direction: column;
  }
  .highlights .highlight:nth-of-type(2), .highlights .highlight:nth-of-type(4) {
    flex-direction: row-reverse;
  }
  .highlights .highlight:nth-of-type(2) h4, .highlights .highlight:nth-of-type(4) h4 {
    text-align: end;
  }
  .slider {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */