.container-fluid {
  --bs-gutter-x: unset;
}

header {
  background-color: #16242e;
}
header .sticky-top {
  background-color: #1c2d3a;
}
header .sticky-top .nav-link {
  font-weight: 300;
}
header .navbar-nav {
  border-left: 2px solid #1c2d3a;
}
header .d-flex .navbar-nav:first-child {
  border-left: none;
}
header .nav-link {
  display: flex;
  align-content: center;
  color: #fff;
  font-weight: 700;
}
header .nav-link:focus,
header .nav-link:hover {
  color: #fff;
  filter: brightness(0.6);
}
header .external-links {
  font-style: italic;
  font-size: 20px;
}
header .nav-link:first-child strong {
  color: #dc5426;
}
header .nav-link:nth-child(2) strong {
  color: #e59d48;
}
header .navbar-toggler {
  border: none;
}
header .navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}
header .navbar-toggler .hamburger {
  color: #fff;
  background: url("../img/hamburger.svg");
}
header .icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
header .icon.msg {
  background: url("../img/msg.svg");
}
header .icon.basket {
  background: url("../img/basket.svg");
}
header .icon.favorites {
  background: url("../img/heart.svg");
}
header .icon.profile {
  background: url("../img/profile.svg");
}
header .icon.yt {
  background: url("../img/yt.svg");
}
header .icon.fb {
  background: url("../img/fb.svg");
}
header .icon.phone {
  background: url("../img/phone.svg");
}

.scrollable-container {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  display: flex;
  gap: 5px;
}
.scrollable-container .rounded-pill {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.scrollable-container .home {
  position: relative;
  background-color: #008aee;
}
.scrollable-container .home .icon {
  background: url("../img/sec header/home.svg");
}
.scrollable-container .gear-sm {
  background-color: #008aee;
}
.scrollable-container .gear-sm .icon {
  background: url("../img/sec header/gear-sm.svg");
}
.scrollable-container .borsachasti {
  background-color: #33bb5a;
}
.scrollable-container .borsachasti .icon {
  background: url("../img/sec header/borsachasti.svg");
}
.scrollable-container .avtoborsa {
  background-color: #63c7c9;
}
.scrollable-container .avtoborsa .icon {
  background: url("../img/sec header/avtoborsa.svg");
}
.scrollable-container .prodavakoli {
  background-color: #dc5426;
}
.scrollable-container .prodavakoli .icon {
  background: url("../img/sec header/prodavakoli.svg");
}
.scrollable-container .prodavachasti {
  background-color: #e59d48;
}
.scrollable-container .prodavachasti .icon {
  background: url("../img/sec header/prodavachasti.svg");
}
.scrollable-container .igri {
  background-color: #bd5fe9;
}
.scrollable-container .igri .icon {
  background: url("../img/sec header/igri.svg");
}
.scrollable-container .zastrahovki {
  background-color: unset;
  border: 1px solid #dc5426;
}
.scrollable-container .zastrahovki .icon {
  background: url("../img/sec header/zastrahovki.svg");
}

.search {
  background-color: #008aee;
  padding: 20px 10%;
}
.search form {
  max-width: 1440px;
  padding: 30px;
  margin: auto;
  background-color: #fff;
}
.search form .search-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.search form .filter {
  display: none;
  align-items: center;
  max-width: 40px;
}
.search form .filter .icon {
  height: 25px;
  width: 25px;
  display: inline-block;
  background: url("../img/filter.svg") no-repeat right;
}
.search form input,
.search form .btn {
  border-radius: 20px;
  border: 1px solid #008aee;
}
.search form input.col {
  margin-right: 10px;
}
.search form .btn.col-3 {
  color: #fff;
  background-color: #008aee;
  font-weight: 600;
  font-size: 26px;
  width: 165px;
}
.search .search-checkboxes label {
  font-size: 18px;
  padding: 6px 22px;
  color: #000;
  background-color: unset;
  border: 1px solid;
}
.search .search-checkboxes label:nth-of-type(1), .search .search-checkboxes label:nth-of-type(2) {
  border-color: #008aee;
}
.search .search-checkboxes label:nth-of-type(3) {
  border-color: #33bb5a;
}
.search .search-checkboxes label:nth-of-type(4) {
  border-color: #63c7c9;
}
.search .search-checkboxes label:nth-of-type(5) {
  border-color: #dc5426;
}
.search .search-checkboxes label:nth-of-type(6) {
  border-color: #e59d48;
}
.search .search-checkboxes .btn-check:checked + .btn {
  background-color: #008aee;
  border-color: #008aee;
  color: #fff;
}

@media (max-width: 1200px) {
  .nav-cta .navbar-nav {
    display: none;
  }
  .nav-cta .navbar-nav:first-child,
  .nav-cta .navbar-nav:nth-child(2) {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
@media (max-width: 992px) {
  .search .filter {
    display: flex !important;
  }
  .search-checkboxes {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */